body{ background: url(/static/img/bg.jpg) repeat center top #181818;margin:0px;padding:0px;}

a img{border:none;}
.clear{clear:both;}

#container{direction:rtl;width:950px;margin:0 auto;}
.imgphone{float:left;margin:5px 0 0 10px;}
#wrapper{background:#fff url(/static/img/chead.png) no-repeat top;margin:5px 0 20px;position:relative;}

#logo{width:350px;float:right;margin:5px 30px 0 0;}

#menu{float:left;width:565px;padding-top:90px;position:absolute;top:0;left:0;}
.mainnav, .child-list ul{margin:0;padding:0;list-style-type:none;font:11px/11px Tahoma;}
.mainnav li.parent{float:right;display:block;background:url(/static/img/vline.png) no-repeat top left;padding:0 2px 0 7px;position:relative;}
.mainnav li.parent:hover .child-list{display:block;}
.child-list{position:absolute;top:18px;right:7px;background:#ff3000;border-radius:5px 0 5px 5px;padding:7px 0;width:150px;z-index:99999;display:none;}
.mainnav li.last, .mainnav li.parent:last-child{background:none;}
.mainnav a.parent{display:block;color:#272E35;text-decoration:none;padding:0 10px;margin:0 5px 0 0;height:21px;border-radius:5px;line-height:19px;-moz-transition:background 0.3s;}
.mainnav a:hover, .mainnav a:active,.mainnav a.active, .mainnav li.parent:hover a.parent{background:#ff3000;color:#fff;}
.child-list a{color:#fff;display:block;padding:5px;text-decoration:none;}
.child-list a:hover{background:#FC613F;}


#slider{height:325px;position:relative;overflow:hidden;}
#slide-items{position:absolute;top:0;left:0;height:325px;}
#slide-items img{float:left;}
.slide-btns{position:absolute;display:block;height:325px;width:35px;top:0;text-decoration:none;font-size:0;}
.prev{left:20px;background:url(/static/img/prev.png) 0 -115px;}
.next{right:20px;background:url(/static/img/next.png) 0 -115px;}


#footer{background:#0066b0;text-align:right;padding:10px 20px 15px 70px;color:#fff;font:11px Tahoma;}
#f1{float:right;width:590px;}
#f1 .ftxt{height:40px;line-height:40px;}
.ftxt img{margin-left:5px;}
#newsletter{float:left;width:213px;padding-top:10px;}
.newsletterb{background:url(/static/img/input.gif) no-repeat top right;height:27px;width:210px;margin-top:10px;}
.btn{background:url(/static/img/submit.gif) no-repeat top right;display:block;float:left;height:27px;width:47px;cursor:pointer;border:none;font-size:0;color:#fec40d;}
.inp{height:25px;font:12px/20px Tahoma;color:#555;border:none;background:none;margin-right:10px;width:150px;float:right;}


#mainInside{padding:20px 30px;}
#mainH{text-align:right;}
#mainF{background:url(/static/img/mainF.png) no-repeat top left;height:10px;}
#mainMin{float:right;width:705px;padding:10px 0;text-align:justify;}
#mainMin a, #indx-news-list a, .indxart a{color:#000;text-decoration:none;}
#mainMin a:hover, #indx-news-list a:hover, .indxart a:hover{color:#BC2025;}
#sidebar{float:left;width:240px;}
#sidebar {font:11px Tahoma;}
#sidebar ul, .bxbt ul{list-style-type:square;color:#f00;}
#sidebar a, .bxbt ul a{color:#333;text-decoration:none;}
#sidebar h3, .bxbt ul h3{font:bold 11px Tahoma;}
#sidebar span, .bxbt ul span{color:#666;}

.iconList2{float:right;width:150px;height:200px;margin:10px;text-align:center;}

.textContent{font:11px/150% Tahoma;text-align:justify;}
.imageList{float:left; margin:0 15px 15px 0;}
.pgbtns{font:11px Tahoma;text-align:center;padding:15px 0;}
p, td, th, li, dd, dt{line-height:120%;}
td, tr, input, button, select{font:11px Tahoma;}
h3{font:bold 12pt Arial;margin:0 0 5px 0;}
.imc{padding:5px;background:#E3E3E3;border:1px solid #bbb;margin-left:10px;}
.itm span{font:11px Tahoma;line-height:125%;}
.itm h3{margin:0;font:bold 11px/19px Tahoma;background:url(/static/img/news.gif) no-repeat right 2px;padding-right:23px;}
.itmft{text-align:left;}
.msg{margin:30px 0;font:11px Tahoma;text-align:center;}
.rw1{text-align:center;}
.rw1 input{text-align:center;}
.tdR{width:30%;text-align:left;padding:3px;}
.tdL{width:70%;text-align:right;padding:3px;}
.tdL input[type=text]{padding:3px;}
h1{font:14pt Arial;font-weight:bold;margin:0 0 10px;background:url(/static/img/hblt.gif) no-repeat right 2px;padding-right:15px;}
h4{font:bold 11px Tahoma;margin:0;}
.pgbtns{text-align:center;padding:15px 0;}


h1.title{background:url(/static/img/titles.png) no-repeat right 0px;height:30px;font-size:0;color:#fff;}
h2.about{background:url(/static/img/titles.png) no-repeat right -30px;height:30px;font-size:0;color:#fff;}
h2.news{background:url(/static/img/titles.png) no-repeat right -60px;height:30px;font-size:0;color:#fff;}

.bxab{float:right;width:440px;}
.bxab p{font:11px/150% Tahoma;text-align:justify;border-left:1px solid #d3d3d3;padding-left:20px;}


.bxnew{float:left;width:430px;}
.bxnew ul{list-style-type:none;margin:10px 0 0;padding:0;font:11px Tahoma;color:#949494;}
.bxnew li{background:url(/static/img/news.gif) no-repeat top right;padding-right:23px;margin-bottom:15px;}
.bxnew h3{font:bold 11px/16px Tahoma;}
.bxnew span {color:#ff3000;}
.bxnew .list {text-align:left; font-family:tahoma; font-size:12px; font-weight:bold;}
.list a {color:#ff3000;}
.list a:hover {color:#000;}

#mainInside a{color:#000;text-decoration:none;}

.aditems{border-top:1px solid #d3d3d3;margin-top:10px;padding:10px 0;}