{% extends "base.html" %}

{% block main %}

<h1>ترخیص کالا</h1>
   	    <div class='page-content'>
   	    	<div class='textContent'>
   	    		<p align="justify" /><div align="justify" class="article-tools clearfix"><div class="article-meta"></div><div class="buttonheading"><font size="2">مجموعه <font color="#FF0000"><strong><font style="background-color: rgb(255, 255, 255);">بازرگانی فراهانی</font></strong><font style="background-color: rgb(255, 255, 255);">&nbsp;</font> </font>، خدماتي در زمينه ترخيص کالا از گمرکات کشور مي باشد که توانسته است طي سالها فعاليت بي وقفه و مستمر، خدمات ترخيص کالا و مشاوره بازرگاني تعدادي ازمعتبرترين شرکت هاي تجاري و صنعتي را به عهده گيرد. اين شرکت، اينک يکي از مجموعه هاي معتبر و فعال در زمينة امور گمرکي، ترخيص، حمل و تحويل کالا در مقصد مي باشد روزانه حجم قابل توجهي از کالاهاي متنوع را ترخيص، حمل و به مشتريان تحويل مي نمايد. رمز موفقيت ما از بدو تأسيس تاکنون، سرعت، دقت و صداقت در کليه عمليات اجرايي و نيز ارائه مناسب ترين راهکارها براي حفظ منافع اقتصادي شرکتهايي که افتخارهمکاري با ايشان راداشته ايم بوده است. مديريت متمرکز، نيروي متخصص و با تجربه، ارتباطات قوي، توانمندي اطلاعاتي با استفاده از آخرين قوانين و مقررات جاري بازرگاني و گمرکي و به موازات آن بهره گيري از کارشناسان صنعت بانکي، بيمه، حمل و نقل وحقوق بازرگانی اين شرکت را قادر ساخته تا به خوبي و در کمترين زمان هرگونه عمليات تجاري (واردات و صادرات،ترخيص و مشاوره) را تحت پوشش خود قرار دهد.</font></div></div><p align="justify" class="article-content"><strong><font size="2"></font></strong></p><p align="justify" class="article-content"><font size="3" color="#cc0000" style="background-color: rgb(255, 255, 255);">ترخیص کالا از کلیه بنادر و گمرکات کشور</font></p><div align="justify"><strong></strong><font size="2">امروزه کلـيـه کارخانه ها، توليـدی ها، واردکنندگان وصادرکنندگان با توجـه به حـجـم گسترده و بالايی که در رابطه با بخش بازرگانی خارجی دارند ترجيح ميدهند که امور گمرکی خود را به سازمانهای مستقلی که توسط شخصيتهاي حقيقی و يا حقوقی اداره می شوند واگذار نمايند که شرکت بازرگانی فراهانی باداشتن کادری مجرب و قوی در انجام تشريفات گمرکی از گمرکات مهرآباد, شهریار ,غرب , امام خمینی , بندرعباس , بوشهر وسایر گمرکات در امور ترخيص ماشين آلات صنعتی، مواداوليه ، قطعات و ماشين آلات کارخانجات، قطعات و لوازم نيروگاهها، اقلام و تجهيزات شبکه وکامپيوتر، قطعات انواع خودروهای سواری و کاميون، نوارلبه ملامين و پی وی سی ،لوازم و تجهيزات پزشکی، خط توليد كارخانه ، ماشين آلات چاپ ، ايميج ستر ،پليت ستر،ابزارآلات ، تيغ اره گرد، جي پي اس ، ماهي زينتي، دستگاه شيريني پزي ، كاغذ تتراپك، پتو ، دستگاه های ابزار دقیق , روتختی و ...در کنار شماست.</font></div>
				<div class='clear'></div>
				<div style='text-align:center;'></div>
    	    		
   	    		<div class='clear'></div>
   	            <br>
- <a href='uploads/F_fa_F4722946.jpg'>دریافت فایل</a><br>

   	            <br><br>

   	    	</div>
   	    	<div class='clear'></div>
   		</div>
       <br><br>		<div class='clear'></div>	
	   
	   
	   {% endblock main %}