{% extends "base.html" %}

{% block main %}


<h1>حوالجات ارزی</h1>
  	    <div class='page-content'>
  	    	<div class='textContent'>
  	    		<p class="MsoNormal" dir="rtl" style="margin: 0cm 0cm 10pt;"><span lang="FA"><font size="3"><strong><font size="5" color="#cc0000"></font></strong></font></span></p><p /><p align="justify" class="MsoNormal" dir="rtl" style="margin: 0cm 0cm 10pt;"><font size="2"><span lang="FA"><strong><font color="#ff0000"></font></strong></span></font></p><p /><p align="justify" class="MsoNormal" dir="rtl" style="margin: 0cm 0cm 10pt;"><span lang="FA"><strong><font color="#ff0000"></font></strong><font size="2"><font color="#ff0000">بازرگانی فراهانی</font> می تواند کالای مورد نیاز شما را از طریق برات بانکی یا حواله نقدی<font color="#cc0000"> (</font></font></span><font size="2"><font color="#cc0000"><font face="Calibri"><span dir="ltr">T.T</span><span dir="rtl"></span></font><span lang="FA"><span dir="rtl"></span>)</span></font><span dir="ltr"></span><span dir="ltr"><span dir="ltr"></span><span><font face="Calibri">&nbsp;</font></span></span><span dir="rtl"></span><span lang="FA"><span dir="rtl"></span><span>&nbsp;</span>و بقیمت دولتی خریداری کرده و آنرا به ایران </span><span lang="FA">حمل نموده و پس از انجام </span></font></p><p align="justify" class="MsoNormal" dir="rtl" style="margin: 0cm 0cm 10pt;"><font size="2"><span lang="FA">تشریفات</span><span lang="FA"> گمرکی آن را ترخیص و در اختیارتان قرار دهد. حواله جات ارزی این بازرگانی از طریق بانک صورت </span><span lang="FA">گرفته و بصورت <font color="#cc0000">100 ٪</font> پیش پرداخت و <font color="#cc0000">30 ٪</font> سپرده تحویل </span></font></p><p align="justify" class="MsoNormal" dir="rtl" style="margin: 0cm 0cm 10pt;"><font size="2"><span lang="FA">پروانه سبز گمرکی </span><span lang="FA">می باشد.</span></font></p>
				<div class='clear'></div>
				<div style='text-align:center;'></div>
    	    		
  	    		<div class='clear'></div>
  	            <br>
- <a href='uploads/F_fa_990C5A03.jpg'>دریافت فایل</a><br>

  	            <br><br>

  	    	</div>
  	    	<div class='clear'></div>
  		</div>
      <br><br>		<div class='clear'></div>		
	  
	  
	  {% endblock main %}