{% extends "base.html" %}

{% block main %}

 <h1>خرید خارجی</h1>
    	    <div class='page-content'>
    	    	<div class='textContent'>
    	    		<font color="#000066"><font size="3"></font></font>

<p /><p /><p /><hr align="justify" /><div align="justify"><font size="2"><span>بخش <font color="#FF0000">خرید خارجی</font> کالا مربوط به کسانی است که تمایل دارند که خرید خود را از کشور های سازنده بدلیل استفاده از شیوه های نوین توسط <font color="#FF0000">بازرگانی فراهانی</font> انجام دهند. بنابر این با اعلام نیاز خود به کالا های مورد نظرو با ارائه نشانی از کالاها و یا سازنده آن بقیه امور را به <font color="#FF0000">شرکت بازرگانی فراهانی</font> سپرده و با عقد قرار دادی در این زمینه مسئولیت شناسایی خرید . انتقال<span>&nbsp;</span>پول به فروشنده. انتخاب شرکت حمل کننده . بارگیری اخذ مجوزهای ورود و انجام امور <font color="#FF0000">گمرکی</font> و <font color="#FF0000">ترخیص</font> آن را به این شرکت واگذار نموده و با آرامش خاطر منتظر ورود کالای مورد نظر به انبار خود باشند.‍</span></font></div><p><strong><font color="#000066"></font></strong></p><p align="justify" class="MsoNormal" dir="rtl" style="text-align: center; line-height: normal; margin: 0cm 0cm 10pt;"><font color="#cc0000"><strong><span lang="FA"><font size="3">&nbsp;</font></span><i><span lang="FA"><span>&nbsp;</span><span></span></span></i></strong></font><span lang="FA"></span></p><p /><p /><p>&nbsp;</p>
					<div class='clear'></div>
					<div style='text-align:center;'></div>
    	    		
    	    		<div class='clear'></div>
    	            <br>

    	            <br><br>

    	    	</div>
    	    	<div class='clear'></div>
    		</div>
        <br><br>		<div class='clear'></div>	
		
		
		{% endblock main %}