{% extends "base.html" %}

{% block main %}


    <h1>ثبت سفارش رایگان</h1>
	    <div class='page-content'>
	    	<div class='textContent'>
	    		<p /><p /><div align="justify"><b><font size="2" color="#FF0000"><font size="2"><font size="2"><font size="2">ثبت سفارش</font></font></font></font></b> در اسرع وقت در م<font size="2">ورد کلیه کالاهای تحت نظارت این بازرگانی ، دریافت <font size="2">و مراحل ایران کد و بازرسی تعاملی آن نیز صور<font size="2">ت می گی<font size="2">رد.این سرویس برای استفا<font size="2">ده مشتریان این بازرگانی به صورت <b><font color="#FF0000">رایگان</font></b> قرار می گیرد.</font></font></font></font></font><font color="#333333"><font size="2"><font size="2"><font color="#000000"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2"><font size="2">مهم ترین اطلاعاتی که در<b><font color="#FF0000"> ثبت سفارش</font></b> باید درج گردد عبارتند از نام فروشنده کالا ، نام خریدار، شماره پروفرما ، کشور تولید کننده ، شماره ایران کد ( در صورت نیاز ) و نوع ارز می باشد.</font></font></font></font></font></font></font></font></font></font></font></font><br /></div><p><br /></p>
				<div class='clear'></div>
				<div style='text-align:center;'></div>
    	    		
	    		<div class='clear'></div>
	            <br>

	            <br><br>

	    	</div>
	    	<div class='clear'></div>
		</div>
    <br><br>		<div class='clear'></div>
	
	
	
	{% endblock main %}