{% extends "base.html" %}

{% block main %}

 <h1>ضمانت نامه بانکی ، گمرکی</h1>
    	    <div class='page-content'>
    	    	<div class='textContent'>
    	    		<p class="MsoNormal" dir="rtl" style="line-height: normal; margin: 0cm 0cm 10pt;"><b><i><span lang="FA"></span></i></b><b><span dir="ltr" style="color: black; font-size: 24pt;"></span></b></p><p /><p /><p align="justify" class="MsoNormal" dir="rtl" style="line-height: normal; margin: 0cm 0cm 10pt;"><span><font size="2"></font></span></p><p><font color="#3333ff"></font></p><p align="justify" class="MsoNormal" dir="rtl" style="line-height: normal; margin: 0cm 0cm 10pt;"><span><font size="3" color="#3333ff"><strong></strong></font></span></p><p><font size="2"></font></p><p align="justify" class="MsoNormal" dir="rtl" style="line-height: normal; margin: 0cm 0cm 10pt;"><span><font size="2" color="#3333ff"><strong></strong></font></span></p><p /><p align="justify" class="MsoNormal" dir="rtl" style="line-height: normal; margin: 0cm 0cm 10pt;"><span><font size="2" color="#3333ff"><strong></strong></font></span></p><span><font size="2" color="#000066"><strong></strong><hr /><p align="justify" class="MsoNormal" dir="rtl" style="line-height: normal; margin: 0cm 0cm 10pt;"><font color="#000000">در حال حاضر در گمرکات تهران و حومه تنها گمرک <font color="#FF0000">فرودگاه پیام</font> است که برای کلیه کالاهای در حال ترخیص ضمانت نامه بانکی<span>&nbsp;</span>با حداقل مبلغ <font color="#FF0000">200/000/000</font> ریال را می پذیرد. علاوه بر گمرک فوق الذکر گمرکات بندر عباس و <font color="#FF0000">گمرک تهران</font>( شهریار سابق )، با رعایت محدودیت تنها در مورد کالا های خاص ضمانت نامه بانکی را با رعایت حداقل <font color="#FF0000">500/000/000</font> ریال پذیرفته و در مواردی که مبلغ اظهارنامه کمتر از آن باشد و یا کالا از شمول چهار بخش فوق خارج باشد از قبول ضمانت نامه خودداری مي نمايند. <font color="#FF0000">بازرگانی فراهانی</font> در زمینه تامین ضمانت نامه های بانکی مورد قبول گمرکات برای مشتریان خود سرویس های لازم را ارائه می نماید.</font></p><strong><p /><p><font color="#3333ff"></font></p><p><font size="2"></font></p></strong></font><p><font size="2" color="#000066"><strong></strong></font>

</p></span>
					<div class='clear'></div>
					<div style='text-align:center;'></div>
    	    		
    	    		<div class='clear'></div>
    	            <br>

    	            <br><br>

    	    	</div>
    	    	<div class='clear'></div>
    		</div>
        <br><br>		<div class='clear'></div>			
		
		
		
		{% endblock main %}