{% extends "base.html" %}

{% block main %}

<h1>مشاوره رایگان</h1>
   	    <div class='page-content'>
   	    	<div class='textContent'>
   	    		<p /><p /><p /><p /><p /><p /><p /><p /><p /><p /><p /><p /><p /><p><span lang="FA" style="line-height: 115%;"></span></p><p class="MsoNormal" dir="rtl" style="text-align: justify; margin: 0cm 0cm 10pt;"><span lang="FA" style="line-height: 115%;"><font size="5" color="#cc0000"><strong></strong></font></span><font size="2"><span lang="FA" style="line-height: 115%;">با توجه به تغییرات و بخشنامه های گمرکی وارد کنندگان کالا لازم است که روز بروز به </span><span lang="FA" style="line-height: 115%;"><span>&nbsp;</span>آگاهی خود در زمینه های بازرگانی و گمرک </span></font><font size="2"><span lang="FA" style="line-height: 115%;">افزوده و قبل از هر تصمیمی از مسایل و اطلاعات تازه آگاهی یابند. <font color="#FF0000">بازرگانی فراهانی </font>مفتخر است با <font color="#FF0000">ارائه مشاوره</font> به صورت رایگان در زمینه های امور گمرکی ، امور حمل و نق<font size="2">ل <font size="2">و امور بازرگا<font size="2">نی زمینه ارتقاع آگاهی وارد کنندگان را فراهم سازد.</font></font></font></span></font><span lang="FA" style="line-height: 115%;"><font size="2">&nbsp;</font></span><span dir="ltr" style="line-height: 115%; font-size: 12pt;"></span></p><font color="#330099"></font><p /><p /><p class="MsoNormal" dir="rtl" style="text-align: justify; margin: 0cm 0cm 10pt;">&nbsp;</p>
				<div class='clear'></div>
				<div style='text-align:center;'></div>
    	    		
   	    		<div class='clear'></div>
   	            <br>

   	            <br><br>

   	    	</div>
   	    	<div class='clear'></div>
   		</div>
       <br><br>		<div class='clear'></div>		
	   
	   
	   {% endblock main %}