{% extends "base.html" %}

{% block main %}

<h1>قوانین گمرک</h1>
    	    <div class='page-content'>
    	    	<div class='textContent'>
    	    		<p style="TEXT-ALIGN: justify; unicode-bidi: embed; DIRECTION: rtl" dir="rtl"><span style="LINE-HEIGHT: 150%; FONT-FAMILY: " lang="FA"><strong></strong></span></p><p /><p style="TEXT-ALIGN: justify; unicode-bidi: embed; DIRECTION: rtl" dir="rtl"><span style="LINE-HEIGHT: 150%; FONT-FAMILY: " lang="FA"></span></p><p style="TEXT-ALIGN: justify; unicode-bidi: embed; DIRECTION: rtl" dir="rtl"><span style="LINE-HEIGHT: 150%; FONT-FAMILY: " lang="FA"><font color="#330099" size="2"></font></span></p><p /><p style="TEXT-ALIGN: justify; unicode-bidi: embed; DIRECTION: rtl" dir="rtl"><span style="LINE-HEIGHT: 150%; FONT-FAMILY: " lang="FA"><font color="#330099" size="2">كميته دائمي مقررات صادرات و واردات متشكل از نمايندگان وزارت بازرگاني ، وزارت صنايع ، وزارت امور اقتصادي و دارايي ، (گمرك جمهوري اسلامي ايران) بانك مركزي جمهوري اسلامي ايران و اتاق بازرگاني و صنايع و معادن ايران تهيه پيش نويس لوايح قانوني ، مصوبات هيات دولت ، شوراي اقتصاد و كميسيون اقتصاد هيات دولت را در مورد زير بعهده خواهد داشت : 1- لايحه مقررات صادرات و واردات ، لوايح موردي براي انجام اصلاحات و تغييرات لازم در قانون مقررات صادرات و واردات . 2- لايحه براي لغو انحصاراتي كه مانع رشد توليد يا تجارت است . 3- آئين نامه اجرائي قانون مقررات صادرات و واردات ، اصلاحات و تغييرات موردي روي آئين نامه اجرائي قانون مذكور . 4- اصلاحات و تغييرات مندرجات جدول تعرفه گمركي ضميمه مقررات صادرات و واردات . 5- طرح تصويب نامه هاي هيات وزيران ، شوراي اقتصاد و كميسيون اقتصاد هيات وزيران در رابطه با مقررات صادرات و واردات . 6- كميته مذكور همچنين بررسي و اظهار نظر و اقدام روي پيشنهادهاي مربوط به مقررات صادرات و واردات را نيز بعهده خواهد داشت</font></span></p><p style="TEXT-ALIGN: justify; unicode-bidi: embed; DIRECTION: rtl" dir="rtl"><span style="LINE-HEIGHT: 150%; FONT-FAMILY: " lang="FA"><font color="#330099" size="2"> <img border="0" hspace="0" align="baseline" src="/uploads/photo_E26C2C2A.jpg" /></font></span></p><p><font color="#330099" size="2"></font></p><p style="TEXT-ALIGN: justify; unicode-bidi: embed; DIRECTION: rtl" dir="rtl"><span style="LINE-HEIGHT: 150%; FONT-FAMILY: " lang="FA"><font color="#330099" size="2">- وزارتخانه‌ها و سازمانهايي كه ورود يا صدور كالاهايي منوط به رعايت ضوابط استانداردها يا اخذ گواهي آنها ، قبل يا بعد از اظهار كالا در گمرك مي باشد ، موظفند شرايط و مشخصات مورد نظر خود ، همچنين نام موسسات و سازمانهاي كنترل كننده و مجري ضوابط مذكور را با درج آگهي در جرايد و انتشار مقررات ناظر ، به اطلاع واردكنندگان ، صادركنندگان و سازمانهاي اجرائي ذيربط برسانند </font></span></p><p><font color="#330099" size="2"></font></p><p style="TEXT-ALIGN: justify; unicode-bidi: embed; DIRECTION: rtl" dir="rtl"><span style="LINE-HEIGHT: 150%; FONT-FAMILY: " lang="FA"><font color="#330099" size="2">-  وزارتخانه‌ها و سازمانهايي كه ورود كالاهايي موكول به موافقت آنهاست بايد نظر كلي خود را در رابطه با ورود كالاهاي مذكور تا 15 آذر ماه هر سال براي اجرا در سال بعد به وزارت بازرگاني اعلام نمايند دستگاههاي ياد شده مي توانند نظرات تكميلي خود را تا 15 بهمن ماه هرسال به وزارتخانه مذكور منعكس نمايند و در موارد استثنايي كه به دلايلي اعلام موافقت كلي مقدور نباشد دلايل و ضوابط صدور مجوز را به وزارت بازرگاني اعلام كنند.</font></span></p><p><font color="#330099"></font></p><p style="TEXT-ALIGN: justify; unicode-bidi: embed; DIRECTION: rtl" dir="rtl" align="right"><span lang="FA"><font color="#330099">                                                                                              </font></span> </p><p><font size="2"></font></p><p />
					<div class='clear'></div>
					<div style='text-align:center;'></div>
    	    		
    	    		<div class='clear'></div>
    	            <br>

    	            <br><br>

    	    	</div>
    	    	<div class='clear'></div>
    		</div>
        <br><br>		<div class='clear'></div>
		
		
		{% endblock main %}