{% extends "base.html" %}

{% block main %}

<h1>آرم گمرک جمهوری اسلامی ایران</h1>
  	    <div class='page-content'>
  	    	<div class='textContent'>
  	    		<p><img border="0" hspace="0" align="baseline" src="/uploads/photo_F8B7957A.jpg" /> </p><p> <span><font color="#cc0000"><strong><span style="FONT-SIZE: x-small"><font size="5">آرم گمرک جمهوری اسلامی ایران<hr /></font></span></strong></font></span></p><div style="TEXT-ALIGN: center" dir="rtl"><font color="#3333ff" size="2"><strong> </strong></font></div><div dir="rtl"><font color="#3333ff" size="2"><strong>آرم گمرک جمهوری اسلامی ایران نمادی از واژه گمرک و در بردارنده مفاهیمی به شرح زیر است:‏</strong></font></div><div dir="rtl"><font color="#3333ff" size="2"> </font><strong><span style="FONT-SIZE: x-small"><br /></span></strong></div><div dir="rtl"><font color="#3333ff" size="2"><font color="#cc0000">‏1-</font>‏   درآرم فوق به مفهوم واژه گمرک به اعتبار دروازه و دروازبان اقتصادی کشور توجه شده.‏</font></div><div dir="rtl"><font color="#3333ff" size="2"><font color="#cc0000">‏2‏-</font>  ‏نو‏ار سبز به مفهوم ورود و صدور آزاد کالا است.‏</font></div><div dir="rtl"><font color="#3333ff" size="2"><font color="#cc0000">‏3-</font>  نوار قرمز به مفهوم ورود و صدور ممنوع و کنترل شده کالاست.‏</font></div><div dir="rtl"><font color="#3333ff" size="2"><font color="#cc0000">‏4-</font>  نوار سبز و قرمز با فضای سفید بین آنها نشانگر پرچم جمهوری اسلامی ایران است.‏</font></div><div dir="rtl"><font color="#3333ff" size="2"><font color="#cc0000">‏5-</font>  دو نوار سیاه در دوزاویه آرم، چهارچوب دروازه و بیانگر کنترل گمرکی و اعمال قانون است.‏</font></div><div dir="rtl"><font color="#3333ff" size="2"><font color="#cc0000">‏6-</font> خطوط تشکیل دهنده آرم نمادی از حروف مقطع واژه گمرک می‌باشد.</font></div>
				<div class='clear'></div>
				<div style='text-align:center;'></div>
    	    		
  	    		<div class='clear'></div>
  	            <br>
- <a href='uploads/F_fa_0DF0793C.jpg'>دریافت فایل</a><br>

  	            <br><br>

  	    	</div>
  	    	<div class='clear'></div>
  		</div>
      <br><br>		<div class='clear'></div>		

{% endblock main %}