{% extends "base.html" %}

{% block main %}



    <h1>نقش و وظایف گمرک</h1>
    <div class='page-content'>
    	<div class='textContent'>
    		<p /><p /><p align="justify"><span style="FONT-SIZE: x-small"><span style="FONT-FAMILY: Tahoma"><strong></strong></span></span></p><p align="justify" /><p /><p /><p align="justify"><img style="WIDTH: 294px; HEIGHT: 301px" border="0" hspace="0" align="baseline" src="/uploads/photo_8DD0AD2F.jpg" width="294" height="301" /><br /><font size="2"><font color="#3333ff"><font color="#cc0000"></font></font></font></p><p align="justify"><font size="2"><font color="#3333ff"><font color="#cc0000">‏1-</font> اعمال سياستهاي دولت در زمينه صادرات و واردات مسافري و تحويل كالاها و نگهداري و حفاظت آنها در انبارها و اماكن گمركي و نظارت بر تحويل و تحول كالاهاي مزبور تا انجام تشريفات قانوني و ترخيص آن توسط صاحب كالا يا نماينده قانوني وي.‏<br /><font color="#cc0000">‏2-</font> اجراي قانون مقررات صادرات و واردات، آئين نامه‌ها و بخشنامه هاي آن و تشخيص و اخذ حقوق گمركي و سود بازرگاني و عوارض و واريز آن  به حساب سازمانهاي ذيربط.‏<br /><font color="#cc0000">‏3-</font> تعيين ارزش و تعرفه كالاهاي وارداتي و صادراتي <br /><font color="#cc0000">‏4-</font> كنترل و نظارت برامر ترانزيت كالا از قلمرو كشور <br /><font color="#cc0000">‏5-</font> مبارزه با قاچاق كالا و تخلفات گمركي از طريق اعمال مقررات مربوطه<br /><font color="#cc0000">‏6-</font> جمع‌آوري و پردازش و انتشار آمار بازرگاني خارجي (‌واردات، صادرات)‏<br /><font color="#cc0000">‏7-</font> رسيدگي و حل اختلافات ناشي از اجراي قانون و مقررات گمركي فيمابين گمرك و صاحب كالا.‏<br /><font color="#cc0000">‏8-</font> بازبيني اظهار نامه هاي وارداتي و صادراتي و اسناد ترخيص كالا مطابقت آنها با قوانين و مقررات جاري كشور به منظور احراز صحت شرايط ترخيص و وصول كسر دريافتي يا استرداد اضافه پرداختي‌هاي احتمالي.‏<br /><font color="#cc0000">‏9-</font> بازرسي از گمركات و نظارت بر عملكرد آنها<br /><font color="#cc0000">‏10-</font> برنامه ريزي جهت بهبود سيستم‌هاي گمركي و پياده‌سازي سيستم‌هاي مكانيزه نظير نظام گمركي  آسان رايانه‌اي نگار<br /><font color="#cc0000">‏11-</font> برنامه ريزي در راستاي سيساستهاي اقتصادي دولت در جهت اجراي كامل قانون مقررات صادرات و واردات و قانون امورگمركي و آئين نامه اجرائي مربوطه.‏<br /><font color="#cc0000">‏12-</font> گسترش ارتباطات بين المللي و گمركي با كشورهاي عضو اكو و كنفرانس اسلامي جهت تبادل تجربيات و همكاريهاي في‌مابين.‏<br /><font color="#cc0000">‏13-</font> انجام تشريفات گمركي واردات موقت، صادرات موقت، كابوتاژ، ترانزيت داخلي، ترانزيت خارجي و انتقالي <br /><font color="#cc0000">‏14-</font> اعمال مقررات گمركي در مورد فري شاپ، بسته ها و پيكهاي سياسي و پست بين المللي <br /><font color="#cc0000">‏15-</font> تشخيص و تحويل كالاهاي متروكه به سازمان جمع‌آوري و فروش اموال تمليكي و … طبق مقررات مربوطه <br /><font color="#cc0000">‏16-</font> انجام امور مربوط به حق‌العملكاران در گمركات كشور<br /><font color="#cc0000">‏17-</font> بررسي و انجام امور به توصيه هاي سازمان جهاني گمرك</font> </font></p>
			<div class='clear'></div>
			<div style='text-align:center;'></div>
    	    		
    		<div class='clear'></div>
            <br>

            <br><br>

    	</div>
    	<div class='clear'></div>
	</div>
<br><br>		<div class='clear'></div>	

{% endblock main %}