{% extends "base.html" %}

{% block main %}

<h1>گمرکات فعال تهران</h1>
   	    <div class='page-content'>
   	    	<div class='textContent'>
   	    		<ol><li><div align="right"><font color="#3333cc" size="3">گمرک غرب</font></div></li><li><font color="#3333cc" size="3">گمرک شهریار</font></li><li><font color="#3333cc" size="3">گمرک حوزه 1 فرودگاه شهریار</font></li><li><font color="#3333cc" size="3">گمرک حوزه 2 فرودگاه شهریار</font></li><li><font color="#3333cc" size="3">گمرک جنوب</font></li><li><font color="#3333cc" size="3">گمرک امانات پستی</font></li><li><font color="#3333cc" size="3">گمرک پیام</font></li><li><font color="#3333cc" size="3">گمرک نمایشگاه بین المللی</font></li><li><font color="#3333cc" size="3">گمرک فرودگاه امام خمینی ( ره )</font></li></ol>
				<div class='clear'></div>
				<div style='text-align:center;'></div>
    	    		
   	    		<div class='clear'></div>
   	            <br>

   	            <br><br>

   	    	</div>
   	    	<div class='clear'></div>
   		</div>
       <br><br>		<div class='clear'></div>
	   
	   
	   
	   {% endblock main %}