{% extends "base.html" %}

{% block main %}

<h1>واردات با ارز مبادلاتی</h1>
   	    <div class='page-content'>
   	    	<div class='textContent'>
   	    		<font size="2" color="#000000"><p align="justify"><font size="2"><font color="#ff0000">ارز مبادله ای</font> نوعی ارز مجازی است که توسط <font color="#ff0000">بانک مرکزی</font> ارزش گذاری شده و در اتاقی بنام اتاق مبادلات ارزی مستقر در وزارت بازرگانی به کالاهایی که ورود آنان با<font size="2">&nbsp;</font>ارز دولتی مقدور نمی باشد ، تخصیص می یابد. این کالاها در ردیف اولویت <font color="#ff0000">سوم</font> تا <font color="#ff0000">هفتم</font> تعیین شده توسط وزارت بازرگانی می باشد. در مورد کالاهایی که با این ارز<font size="2">&nbsp;</font>وارد می شوند معادل <font color="#ff0000">50%</font> ارزش پروفرما بابت تحویل جواز سبز گمرک سپرده اخذ می گردد. کالاهای وارد شده با این نوع ارز از شمول نظارت فروش خارج است.   <br /></font></p></font><ul><li><font size="2">چین<font color="#FF0000">.............</font> یورو<font color="#FF0000">-</font>یوآن</font></li><li><font size="2"><font size="2">ترکیه<font color="#FF0000">............</font> لیر</font></font></li><li><font size="2"><font size="2"><font size="2">کره<font color="#FF0000">..............</font> ون</font></font></font></li><li><font size="2"><font size="2"><font size="2"><font size="2">هند<font color="#FF0000">.............</font> روپیه</font><br /></font></font></font></li></ul><p align="justify"><font size="2">                               <br /></font></p><p align="justify"><font size="2"><font size="2">                                                                                           <a href="http://www.cbi.ir/NonRefExRates/nonRefRates_fa.aspx"> <font color="#FF0000">(لینک نرخ ارز مبادله ای)</font></a></font><br /></font></p><div align="left"><font size="2" color="#000000"><p align="justify"><font color="#FF0000"><font size="2">                                                            <br /></font></font></p><p align="justify"><font color="#FF0000"><font size="2"><font size="2">&nbsp;</font></font></font><br /></p></font></div><br /><font size="2" color="#000000"><p align="justify"><font size="2"><br /></font></p></font>
				<div class='clear'></div>
				<div style='text-align:center;'></div>
    	    		
   	    		<div class='clear'></div>
   	            <br>

   	            <br><br>

   	    	</div>
   	    	<div class='clear'></div>
   		</div>
       <br><br>		<div class='clear'></div>
	   
	   
	   {% endblock main %}