<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fa" lang="fa"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>بازرگانی فراهانی</title>
	
	<meta name="description" content="">
	<meta name="keywords" content="">
	
	<link rel="stylesheet" type="text/css" href="http://dl.apjd.de/u/7467387/varedatechin/static/css/style_fa.css">

	<script type="text/javascript" src="http://dl.apjd.de/u/7467387/varedatechin/static/js/jquery.min.js"></script><style type="text/css"></style>
	
    <script type="text/javascript" src="http://dl.apjd.de/u/7467387/varedatechin/static/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="http://dl.apjd.de/u/7467387/varedatechin/static/js/script.js"></script>	
	
	<style type="text/css">
	

		
	</style>

</head>
<body>
<div id="container">
<a href="/"><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/uk.png" border="0" align="left" hspace="12"></a><a href="/"><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/ir.png" border="0" align="left" hspace="12"></a>
	<div class="clear"></div>
	
	<div id="wrapper">
	
		<div id="logo">
			<a href="/"><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/logo.png" alt="بازرگانی فراهانی"></a>
		</div>
		
		<div id="menu">
			<ul class="mainnav">
			
				<li class='parent'><a href='/' class='parent'>صفحه اصلی</a></li><li class='parent'><a href='#' class='parent'>خدمات ما</a><div class='child-list'><ul><li><a href='sherkat.html'>شرکتی</a></li><li><a href='gomroki.html'>گمرکی</a></li></ul></div></li><li class='parent'><a href='about.html' class='parent'>درباره ما</a></li><li class='parent'><a href='' class='parent'>گمرک</a><div class='child-list'><ul><li><a href='ghavanin.html'>قوانین گمرک</a></li><li><a href='arm.html'>آرم گمرک جمهوری اسلامی ایران</a></li><li><a href='vazayef.html'>نقش و وظایف گمرک</a></li><li><a href='gomrokat.html'>گمرکات فعال تهران</a></li><li><a href='etelaat.html'>اطلاعات تجاری و گمرکی</a></li></ul></div></li><li class='parent'>
					<a href='' class='parent'>اخبار سایت</a><div class='child-list'><ul>	
							{% for item in recent_posts %}
<li><a href="{{item["link"]}}">{{item["title"]}}</a></li>{% endfor %}</ul></div></li><li class='parent'><a href='contact.html' class='parent'>ارتباط با ما</a></li>			</ul>
							<div class='clear'></div>
		</div>
		
		<div class="clear"></div>	
				<div id="slider">
			<div id="slide-items" style="width: 4750px; left: 0px;">
						<a href=""><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/fl_CAD2B54F.jpg" width="950" height="325" alt="بازرگانی فراهانی" title="بازرگانی فراهانی"></a>
			<a href=""><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/fl_9199FED5.jpg" width="950" height="325" alt="بازرگانی فراهانی" title="بازرگانی فراهانی"></a>
			<a href=""><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/fl_68F65254.jpg" width="950" height="325" alt="بازرگانی فراهانی" title="بازرگانی فراهانی"></a>
			<a href=""><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/fl_1359ECAC.jpg" width="950" height="325" alt="بازرگانی فراهانی" title="بازرگانی فراهانی"></a>
			<a href=""><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/fl_3D902907.jpg" width="950" height="325" alt="بازرگانی فراهانی" title="بازرگانی فراهانی"></a>
			</div>
			<a href="" class="slide-btns prev">&lt;</a>
			<a href="" class="slide-btns next">&gt;</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>

		<div id="mainInside">
		{% block main %}
		
		{% endblock main %}
	</div>
		

	<div id="footer"><b>
		<div id="f1">
			


<div class="ftxt">
				<img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/ico2.gif" alt="ico" align="absmiddle">
				       دفتر مرکزی : 55046812 021 &nbsp; &nbsp; &nbsp;
			</div>

<div class="ftxt">
				<img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/ico2.gif" alt="ico" align="absmiddle">
				       موبایل : 09357947930  &nbsp; &nbsp; &nbsp;
			</div>




<div class="ftxt">
				<img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/ico3.gif" alt="ico" align="absmiddle">
				پذیرش پروفرما :   h.farahan@yahoo.com 
			</div>

			
			
		</div>
		<div id="newsletter">
			با وارد نمودن آدرس ایمیل خود از آخرین 
			اخبار بازرگانی و گمرکی اطلاع پیدا کنید
			<form action="/newsletter", method="POST">
				<div class="newsletterb">
					<input type="text" name="email_address" class="inp" title="آدرس ایمیل ..." onblur="if (this.value == &#39;&#39;) {this.value = &#39;آدرس ایمیل ...&#39;;}" onfocus="if (this.value == &#39;آدرس ایمیل ...&#39;) {this.value = &#39;&#39;;}" value="آدرس ایمیل ...">
					<input type="submit" value="ثبت" class="btn">
				</div>
			</form><br>
<p dir="ltr" align="left">© 2012 All Rights Reserved. </p>
			
		</div>
		</b>
		<div class="clear"></div>
	</div>
	
	
	</div>
</div><!-- container -->

<div style="display: none;" id="hiddenlpsubmitdiv"></div><script>try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ d.innerText=i; } } d.dispatchEvent(customEvent); form.lpsubmitorig2(); } } }}catch(e){}</script>

<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37251740-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body></html>
