{% extends "base.html" %}

{% block main %}


<h1>تماس با ما</h1>
  	    <div class='page-content'>
  	    	<div class='textContent'>
  	    		<div class="ftxt">
				<img src="/static/img/ico2.gif" alt="ico" align="absmiddle">
				       دفتر مرکزی : 55046812 021 &nbsp; &nbsp; &nbsp;
			</div>

<div class="ftxt">
				<img src="/static/img/ico2.gif" alt="ico" align="absmiddle">
				       موبایل : 09357947930  &nbsp; &nbsp; &nbsp;
			</div>




<div class="ftxt">
				<img src="/static/img/ico3.gif" alt="ico" align="absmiddle">
				پذیرش پروفرما :   h.farahan@yahoo.com 
			</div>

    	    		
<br>				
				
{% endblock main %}