{% extends "base.html" %}

{% block main %}

<h1 class="title">بازرگانی فراهانی</h1>
<div class="pageItems">


  <a href="arze_dolati.html" onmouseover="document.NAME1.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/1n.gif&#39;" onmouseout="document.NAME1.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/1.gif&#39;">
  <img name="NAME1" src="http://dl.apjd.de/u/7467387/varedatechin/static/img/1.gif" border="0"></a>

  <a href="arze_mobadelati.html" onmouseover="document.NAME2.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/2n.gif&#39;" onmouseout="document.NAME2.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/2.gif&#39;">
  <img name="NAME2" src="http://dl.apjd.de/u/7467387/varedatechin/static/img/2.gif" border="0"></a>

  <a href="tarkhis.html" onmouseover="document.NAME3.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/3n.gif&#39;" onmouseout="document.NAME3.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/3.gif&#39;">
  <img name="NAME3" src="http://dl.apjd.de/u/7467387/varedatechin/static/img/3.gif" border="0"></a>

  <a href="havalejat.html" onmouseover="document.NAME4.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/4n.gif&#39;" onmouseout="document.NAME4.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/4.gif&#39;">
  <img name="NAME4" src="http://dl.apjd.de/u/7467387/varedatechin/static/img/4.gif" border="0"></a>


  <a href="kharid.html" onmouseover="document.NAME5.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/5n.gif&#39;" onmouseout="document.NAME5.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/5.gif&#39;">
  <img name="NAME5" src="http://dl.apjd.de/u/7467387/varedatechin/static/img/5.gif" border="0"></a>

  <a href="sabt.html" onmouseover="document.NAME6.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/6n.gif&#39;" onmouseout="document.NAME6.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/6.gif&#39;">
  <img name="NAME6" src="http://dl.apjd.de/u/7467387/varedatechin/static/img/6.gif" border="0"></a>

  <a href="zemanat.html" onmouseover="document.NAME7.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/7n.gif&#39;" onmouseout="document.NAME7.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/7.gif&#39;">
  <img name="NAME7" src="http://dl.apjd.de/u/7467387/varedatechin/static/img/7.gif" border="0"></a>


  <a href="moshavere.html" onmouseover="document.NAME8.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/8n.gif&#39;" onmouseout="document.NAME8.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/8.gif&#39;">
  <img name="NAME8" src="http://dl.apjd.de/u/7467387/varedatechin/static/img/8.gif" border="0"></a>

  <a href="http://www.irica.gov.ir/Portal/Home/Default.aspx?CategoryID=7d8eeaeb-b632-4d5b-8cae-8498dc47e90c" target="_blank" onmouseover="document.NAME9.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/9n.gif&#39;" onmouseout="document.NAME9.src=&#39;http://dl.apjd.de/u/7467387/varedatechin/static/img/9.gif&#39;" rel="noreferrer">
  <img name="NAME9" src="http://dl.apjd.de/u/7467387/varedatechin/static/img/9.gif" border="0"></a>


</div>
<br>
<div class="clear"></div>

<div class="bxab">
	<h2 class="about">خدمات ما</h2>
	<p>
		</p><p><font color="#000000"><font size="2"><font color="#ff0000">شرکت</font> <font color="#ff0000">بازرگانی فراهانی</font>(کالا-ترخیص)، با برخورداری از سابقۀ طولانی در امر ارائۀ خدمات بازرگانی،&nbsp;مفتخراست که امکانات و توانائیهای خود را،درخصوص واردات و صادرات کالاهای شما معرفی نماید.</font></font></p><p><font size="2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <a href="/about" target="_blank"><font color="#ff0000">ادامه مطلب</font></a></font><font color="#000000"></font></p><table border="0" width="428" align="baseline" height="256"><tbody><tr><td><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/photo_C56F2429.gif"><br></td><td><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/photo_8038379F.gif"><br></td></tr><tr><td><font color="#000000"><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/photo_E13F3D67.gif"></font></td><td><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/photo_1E247A0E.gif"><br></td></tr><tr><td><font color="#000000"><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/photo_95A0395A.gif"></font></td><td><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/photo_06150D7B.gif"><br></td></tr><tr><td><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/photo_6CB84DEE.gif"><br></td><td><img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/photo_4EBAEFD8.gif"><br></td></tr></tbody></table><br>	<p></p>
</div>

<div class="bxnew">
	<h2 class="news">آخرین اخبار</h2>
	<div style="height:360px;overflow:hidden;">
	<!-- <marquee direction='up' height='300px' SCROLLDELAY='400'> -->
	<ul>
	
	
		{% for item in recent_posts %}
		
		<li>
			<h3><a href="{{ item["link"] }}">{{item["title"]}}</a></h3>
			<span>{{item["date"]}}</span>
			<img src="http://dl.apjd.de/u/7467387/varedatechin/static/img/hline.gif" alt="hline">
		</li>
		
		{% endfor %}

	</ul>
	<!-- </marquee> -->

	</div>
</div>

<div class="clear"></div>
<div class="aditems">
</div>

		<div class="clear"></div>			
	
	{% endblock main %}
	
	
