{% extends "base.html" %}

{% block main %}


{% if status=='sent' %}
<h3>ایمیل آدرس شما ارسال شد! با تشکر</h3>
{% endif %}

{% if status=='not_sent' %}
<h3>ایمیل آدرس شما ارسال نشد! لطفا دوباره سعی کنید</h3>
{% endif %}


{% endblock main %}